* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Comic Sans MS", serif;
}

.smartHouse {
    padding: 15px 15px 55px 15px;
    border: 10px solid #FFC107;
    background-color: #E91E63;
}

.smartHouse__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.btnWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 26px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #673AB7;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    transition: .3s;
}

.btn:hover {
    box-shadow: 3px 3px #677ae2;
    transition: .3s;
}

.computer, .radio, .fridge {
    display: inline-block;
    width: 140px;
    padding: 15px 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: top;
    border-radius: 6px;
    color: #fff;
    line-height: 2;
}

.computer:last-child {
    margin-right: 0;
}

.stateBtn {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    background-color: crimson;
    margin-bottom: 10px;
}

.smartHouse__address {
    margin-bottom: 36px;
    color: #fff;
}

.on {
    background-color: #677ae2;
}

.bottomContainer {
    display: flex;
    flex-wrap: wrap;
}

.bottomContainer > * {
    flex: 0 0 33.3333%;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.incVolume, .decVolume{
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height:  22px;
    text-align: center;
    color: #fff;
    background-color: #673AB7;
    border: 1px solid #858585;
}

.volumeBlock {
    display: block;
}

